<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>com.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewArticleController</servlet-name>
        <servlet-class>com.controller.NewArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchArticlesController</servlet-name>
        <servlet-class>com.controller.SearchArticlesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListArticleController</servlet-name>
        <servlet-class>com.controller.ListArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleDetailController</servlet-name>
        <servlet-class>com.controller.ArticleDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCommentController</servlet-name>
        <servlet-class>com.controller.NewCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteController</servlet-name>
        <servlet-class>com.controller.VoteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentController</servlet-name>
        <servlet-class>com.controller.DeleteCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArticleController</servlet-name>
        <servlet-class>com.controller.DeleteArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingController</servlet-name>
        <servlet-class>com.controller.PagingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewArticleController</servlet-name>
        <url-pattern>/NewArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchArticlesController</servlet-name>
        <url-pattern>/SearchArticlesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListArticleController</servlet-name>
        <url-pattern>/ListArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleDetailController</servlet-name>
        <url-pattern>/ArticleDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCommentController</servlet-name>
        <url-pattern>/NewCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteController</servlet-name>
        <url-pattern>/VoteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentController</servlet-name>
        <url-pattern>/DeleteCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArticleController</servlet-name>
        <url-pattern>/DeleteArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingController</servlet-name>
        <url-pattern>/PagingController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>LAB1</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
